/* ==========================================================================
   Return home
   ========================================================================== */
.return-home {
  margin-top: 40px;
  line-height: 1;
  text-align: center;
  font-family: 'Roboto Slab Light';

  a {
    color: $subColor;
    font-size: 2rem;
    text-decoration: none;
    transition: color .2s;

    &:hover {
      color: $subHoverColor;
    }
  }

  .fa {
    margin-right: 5px;
  }

  @media #{$sizeSP} {
    margin-top: 20px;
  }
}