/* ==========================================================================
   Genral
   ========================================================================== */

/* Universal
   ========================================================================== */
* {
  box-sizing: border-box;
}

/* Root
   ========================================================================== */
html, body {
  height: 100%;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$sizeSP} {
    font-size: 7.5px;
  }
}

body {
  line-height: 2;
  color: $baseColor;
}

/* Link
   ========================================================================== */
a {
  color: $linkColor;
  transition: color .2s;

  &:visited {
    color: $linkVisitedColor;
  }

  &:hover,
  &:active {
    color: darken($linkColor, 25%);
  }

  &:visited:hover,
  &:visited:active {
    color: darken($linkVisitedColor, 25%);
  }
}