/* ==========================================================================
   Web font
   ========================================================================== */
@font-face {
  font-family: 'Roboto Slab Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'),
       local('RobotoSlab-Light'),
       url(/fonts/RobotoSlabLight.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'),
       local('RobotoSlab-Regular'),
       url(/fonts/RobotoSlabRegular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
      url(/fonts/RobotoLight.woff) format('woff');
}