// ==========================================================================
// Variable
// ==========================================================================

// Size
$sizeSP: "screen and (max-width: 768px)";

// Color
$baseColor: #666;
$thinColor: #999;

$linkColor: #4db4e4;
$linkVisitedColor: #ba96c4;

$subColor: #ccc;
$subHoverColor: #aaa;

// ==========================================================================
// Mixin
// ==========================================================================
@mixin clearfix {
	zoom: 1;

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

@mixin image-replace {
  white-space:nowrap;
  text-indent: 100%;
  overflow: hidden;
}

@mixin fa {
  display: inline-block;
  font: normal normal 1em/1 FontAwesome;
}